<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Home", profile_path, class: "nav-link #{"active" if current_page?(profile_path)}" %>
  </li>
  <% unless @user.workshops.empty? %>
    <% @user.workshops.each do |ws| %>
      <li class="nav-item">
       <%= link_to ws.name, ws, class: "nav-link #{"active" if current_page?(workshop_url(ws))}" %>
      </li>
    <% end %>
  <% end %>
  <li class="nav-item">
    <%= link_to "+", new_workshop_path, class: "nav-link #{"active" if current_page?(new_workshop_path)}" %>
  </li>
</ul>

<h2>Add a workshop:</h2>
<%= form_with model: @user.workshops.build do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>