<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Home", profile_path, class: "nav-link #{"active" if current_page?(profile_path)}" %>
  </li>
  <% unless @user.workshops.empty? %>
    <% @user.workshops.each do |ws| %>
      <li class="nav-item">
       <%= link_to ws.name, ws, class: "nav-link #{"active" if current_page?(workshop_url(ws))}" %>
      </li>
    <% end %>
  <% end %>
  <li class="nav-item">
    <%= link_to "+", new_workshop_path, class: "nav-link #{"active" if current_page?(new_workshop_path)}" %>
  </li>
</ul>

<%= link_to "Create New Kiln", new_workshop_kiln_path(@workshop), :style=>'padding-bottom:`100px;' %>

<% unless @workshop.kilns.empty? %>
  <% @workshop.kilns.each do |kiln| %>
    <p>
      <%= link_to kiln.name, workshop_kiln_path(@workshop, kiln) %><br>
      method(s):
      <% kiln.drying_methods.each do |method| %>
        <%= method.name %>; 
      <% end %>
    </p>
  <% end %>
<% end %>

<p>to work on: brand/model, capacity, dimensions?, occupied/vacant, approx time to completion</p>